* {
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.image {
  /* display: block; */
  max-width: 100%;
  margin: auto;
  /* position: relative; */
  position: absolute;
}

.image-button {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;  
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: bisque;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  text-transform: uppercase;
}

.image-button:hover  {
    opacity: 1;
    cursor: pointer;
}
