* {
  box-sizing: border-box;
  margin: 0;
}

div {
  display: flex;
 
  position: relative;
  width: 500px;
  margin: auto;
 
}

.image {
  
  max-width: 500px;
  /* margin: auto; */
  /* position: relative; */
}

.image-button {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: bisque;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
}
