div {
    display: flex;
    justify-content: space-around;
}

#f {
    font-size: 16px;
}

#t {
    font-size: 32px;
}

#h {
    font-size: 64px;
}

#q {
    font-size: 128px;
}


#empty {
    font-size: 256px;
}