.text {
  margin: 16px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip {
  padding: 8px;
  bottom: -40px;
  background-color: gray;
  visibility: hidden;
  color: white;
  text-align: center;
  border-radius: 4px;
  left: 0;
  position: absolute;
}

.text:hover .tooltip {
    visibility: visible;
}
