header {
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  position: fixed;
}

nav {
  height: 40px;
}

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
  float: left;
  color: white;
  line-height: 40px;
  margin-left: 16px;
}

main {
  background-color: beige;
  height: 5000px;
  width: 100%;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}

.ear_right {
  /* float: right; */
  position: relative;
  left: -40px;
  top: -60px;
}

.ear_left {
  /* float: left; */
  position: relative;
  top: -120px;
  right: -200px;
}

.eye {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
}

.eye_left {
  position: relative;
  left: 40px;
  top: -90px;
}

.eye_right {
  position: relative;
  top: -60px;
  left: 130px;
}
