@media screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .nav {
    width: 50%;
  }
  .prod {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
  }

  .container {
    width: calc(100% / 3 * 2);
  }
}
