html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 74px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  overflow: hidden;
  margin: auto;
}

div {
  height: 200px;
  background-color: coral;
  text-align: center;
  line-height: 200px;
  color: white;
  text-transform: uppercase;
}
