* {
  box-sizing: border-box;
}

.container {
  /* display: flex; */
}

.nav {
  height: 200px;
  background-color: #ff7f50;
  display: flex;
}

.prod {
  height: 200px;
  background-color: #006400;
  display: flex;
}

.news {
  height: 200px;
  background-color: #0ff;
  display: flex;
  flex-grow: 1;
}

span {
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .nav {
    width: 50%;
  }
  .prod {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
  }
  
  .container {
    width: calc(100% / 3 * 2);
  }
  /* .news {
    width: calc(1 / 3);
  } */
}
