* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  border: 1px solid black;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

table,
td {
  border-collapse: collapse;
}

td:first-child {
    border: none;
}

td:last-child  {
    border: none;
    
}

tr:first-child > td {
    border: none;
}

tr:last-child > td {
    border: none;
}

tr:nth-child(even) > td:nth-child(odd) {
    background-color: black;
}

tr:last-child > td:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) > td:first-child {
    background-color: white;
}

tr:nth-child(odd) > td:nth-child(even) {
    background-color: black;
}

tr:nth-child(odd) > td:last-child {
    background-color: white;
}

tr:first-child > td:nth-child(even) {
    background-color: white;
}