* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
}